.headerstage2{
    display: flex;
    width: 100%;
    text-decoration-line: none;
}

.bank{
    text-decoration-line: none;
}

.Bank{
   
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    width: 200px;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
  
}
.search{
    display: flex;
    float: right;
    padding-top: 17px;
    margin-left: 146px;
}
.search-box{
    display: flex;
    border: 2px solid green;
    border-radius: 37px;
    align-items: center;
    margin-left: 10px;
    height: 45px;
    width: 227px;
    padding: 0px 10px;
}
.search-box input{
    box-sizing: border-box;
    margin: 0;
    padding: 0px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    border: none;
}
.search-menubtn{
    color: white;
    border: none;
    height: 50px;
    width: 80px;
    background-color: green;
    border-radius: 30px;
    font-weight: 400;
}
.search-icon{
    font-size: 25px;
    border-radius: 50px;
    border: 1px solid green;
    background-color: green;
    color: white;
    width: 30px;
    height: 35px;
    padding: 2px;
   padding-left: 5px;
    
   

}
/* .search-web{
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    border: none;
} */

.dropdown{
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid white;
    cursor: pointer;
    text-decoration-line: none;
    display: inline-block;
    margin-left: 10px;
    width: 150px;

}

.dropdown-content{
    display: none;
    text-decoration-line: none;
    width: 100%;
    position: absolute;
    left: 0px;
    background-color: white;
    margin-top: 31px;
}

.dropdown:hover span{
    color: rgb(71, 215, 71) ;
}

.dropdown:hover .dropdown-content{
    display: flex;
    justify-content: space-evenly;
    text-decoration-line: none;
   
  }

  .sub:hover{background-color: rgb(240, 228, 228);
    color:  rgb(71, 215, 71);}

.sub{text-decoration-line: none;
    }
.sub1{padding:5px ;
    padding-left: 10px;}

.r1{width: 30%;}
