div{
    border: none;
}
.tophead{
    background-color:  #f0f0f0;
    width: 100%;
    height: 40px;
}
.headerright{
    background-color:  #f0f0f0;
    border: 1px solid #f0f0f0;
}
.link{
    text-decoration-line: none;
    margin: 5px;
    padding: 3px;
}
b{
    font-size: 28px;
}

p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin: 10px 0px;
}
button{
    width: 200px;
    background-color: rgb(25, 205, 28);
    border-radius:10px ;
    height: 30px;
}
button:hover{
    cursor: pointer;
}
.head{
    font-size: 30px;
    text-align: start;
    color: #0da00d;
    padding: auto;
    padding-top: 10px;

}
.home-loan{
    display: flex;
    width: 100%;
    border: 1px solid white;
    margin-bottom: 50px;
}
.home-loan-detailsleft{
    width: 500px;
    background-color:  #f0f0f0;
}
.home-loan-details{
    background-color:  #f0f0f0;
    width: 700px;
    border: 1px solid white;
    padding: 96px;
    height: 208px;
}

.home-loan-pic{
    width: 50%;
    height: 400px;    
}
.home-loan-pic img{
    width: 715px;
    height: 400px;
    
}


.primarycontent{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.loan-divisions{
    display: flex;
    justify-content: center;
    margin-left: 185px;
}
.loan-divisions1{
    display: flex;
    width: 400px;
    margin-bottom: 100px;
}
.loan-type{
    font-size: 20px;
    padding-left: 10px;
    margin-left: 5px;
    font-family: Bitter,serif;
}
.logo{
    padding-top: 7px;
    width: 50px;
    font-size: 35px;
    color: green;
}
/* .loan-type p{
    font-size: 30px;
} */
.loan-typehead{
    color: black;
}
.loan-typebottom{
    color: rgb(175, 168, 168);
    font-size: 24px;
    font-weight: 300;
}
.loan-type p:hover{
    color: green;
    cursor: pointer;
}
.persionalloan-container{
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;;
}
.antcard-cover:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.persionalloan-container2{
    margin-bottom: 30px;
}
.antcard-cover{
    
    border-radius: 2px;
    width: 450px;
    margin-bottom: 20px;
    background-color: white;
    margin: 10px;
    margin-top: 20px;
}
.antcard-cover img{
    width: 450px;
    height: 270px;
}
.antcard-cover1 img{
    width: 450px;
    height: 270px;
}
.antcard-cover2 img{
    width: 450px;
    height: 152px;
}

.antcard-coverbottom{ 
padding-left: 20px;
font-size: 18px;
    font-weight: 300;
    line-height: 1.5;

}
.antcard-covermid{
    padding-left: 20px; 
    font-size: 20px;
}
.antcard-coverhead{
    color: green;
    padding-left: 20px;
    font-size: 30px;
}
.resurchtool{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    color: green;
}
.resurchtool1{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #f0f0f0;
    
}


.button{
    border-radius: 20px;
    border: 1px solid rgb(32, 213, 32); 
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;   
    width: 288px;
    text-align: center;
}
.button button{
    width: auto;
    height: 50px;
    padding: 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
}
.button-calculator{
    margin: 10px;
}
.button-guide{
    width: 150px;
}
.button-interest{
    margin: 10px;
}
.button-calculator:hover{
    background-color: rgb(164, 154, 154);
}
.button-guide:hover{
    background-color: rgb(164, 154, 154);
}
.button-interest:hover{
    background-color: rgb(164, 154, 154);
}
.button-output-calculator{display: none;}
.button-output-guide{display: none;}
.button-output-interest{display: none;}

.button-calculator:visited{
    background-color: #008000;
}
.button-guide:visited{
    background-color: green;
    
}
.button-interest:visited{
    background-color: green;
}
.button-calculator:visited .button-output-calculator{
    display: flex;
    justify-content: space-evenly;
}
.button-guide:visited .button-output-guide{
    display: flex;
    justify-content: space-evenly;
}
.button-interest:visited .button-output-interest{
    display: flex;
    justify-content: space-evenly;
}
.antcard-cover1{
    border-radius: 2px;
    width: 450px;
    margin-bottom: 20px;
    background-color: white;
    margin: 10px;
    margin-top: 20px;
}
.antcard-cover1:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.persionalloan-container1{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;;
}
.antcard-coverbottom1{ 
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    }
    .antcard-covermid1{
       
        font-size: 25px;
        color: green;
        font-weight: bold;
    }
    .antcard-coverhead1{
        font-weight: bold;        
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        font-size: 25px;
    }

    .antcard-cover2{
        border-radius: 2px;
        width: 450px;
        margin-bottom: 20px;
        background-color: white;
        margin: 10px;
        margin-top: 20px;
    }
    .antcard-cover2:hover{
        cursor: pointer;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    }
    .persionalloan-container2{
        display: flex;
        justify-content: center;
    }
    .antcard-coverhead2{
        font-weight: bold;        
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        font-size: 25px;
    }
    .antcard-coverbottom2{ 
       padding: 20px;
       font-size: 18px;
       font-weight: 300;
       line-height: 1.5;}
    .supportfile{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        background-color: #f0f0f0;
        padding-bottom:20px;
    }
    .supportfile-container{
        width: 300px;
        height: 420px;
    }
    .supportfile-container-video{
        width: 760px;
    }
    .supportfile-container p{
        font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    }
    .supportfile-container-video iframe{
        width: 100%;
        height: 400px;
    }
    .supportfile-container-btn{
        width: 250px;
       text-align: center;
        background-color: green;
        color: white;
        border-radius: 20px;
        padding:10px;
    }
.print{
    font-size: 23px;
    color: green;
    margin-bottom: 15px;
}
.print1{
    font-size: 23px;
    margin: 10px 0px;
}
.supportfile-container h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.supportfile-container p{
    font-size: 20px;
} 
.mozo{
    background-color: #f0f0f0;
}
.mozo-logo{
    margin-left: 355px;
    background-color: #f0f0f0;
}
.bottom-aboutus-1{
    margin-top: 2px;
    display: flex;
    padding: 30px 121px;
    justify-content: space-between;
    color: silver;
    background-color:  #363636;
}
.bottom-aboutus-1 div{
    width: 300px;
}
.bottom-aboutus-1 img{
    width: 105px;
    height: 105px;
}
.bottom-aboutus-1 p{
    font-size: 16px;
    line-height: 2;
}
.bank-bottom div{
font-size: 14px;
}
.bank-bottom h1{
    margin: 20px 0px;
}
.lo{
    margin-top: 5px;
}
.bottom-aboutus-2{
    padding: 30px 121px;
    background-color:  #363636;
    color: silver;
}
.bottom-aboutus-2 div{
    margin-top: 5px;
}
.para{
     color: silver;
}

.bottom-aboutus{
    cursor: pointer;
}
.bottom-aboutus h3:hover{
    cursor: pointer;
    color: green;
}
.bottom-aboutus h2:hover{
    cursor: pointer;
    color: green;
}
.bottom-aboutus h1:hover{
    cursor: pointer;
    color: green;
}
.bottom-aboutus p:hover{
    cursor: pointer;
    color: green;
}
.lo:hover{
    cursor: pointer;
    color: green; 
}
.loo:hover{
    cursor: pointer;
    color: green; 
}
.footercontent-logo{
    display: flex;
    justify-content: center;
}
.footercontent-logo div{
    width: 50px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #333 ;
    text-align: center;
    /* margin:10px ; */
}
.logooo{
    margin: 0px 0px;
   font-size: 30px;
    color: green;
}
.footercontent-follow{
    font-weight: 700;
    font-size: 20px;
    color: #f0f0f0;
    margin-top: 40px;
}
.footercontent-email{
    
    font-size: 16px;
    width: 220px;
    height: 50px;
    color: #000;
    background-color: #f6b443;
    margin: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 653px;
}
.footercontent-atm{
    margin-top: 20px;
    font-size: 16px;
    width: 220px;
    height: 50px;
    background-color: green;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 653px;
    color: #f0f0f0;
}
.footercontent-call{
    font-size: 32px;
    padding-bottom: 20px;
    color: #f0f0f0;
}
.footercontent-talk{
    font-size: 20px;
    padding: 20px 0;
    font-weight: 700;
    color: #f0f0f0;
}
.footercontent{
    background-color: #333;
    text-align: center;
}